html,body{
    height:100%;
    width: 100%;
    padding: 0;
    margin: 2pz;
}
body{
    background-color:rgb(159, 145, 243);
}
p{
    padding: 5px;
    color:black;
    font-size: 30px;
    align-items: center;
}